
<header class="bg-primary text-white">
    <nav class="navbar navbar-expand-lg container">
    <a class="navbar-brand d-flex align-items-center" href="{% url 'paginaInicio' %}">
    
        <img src="https://cdn-icons-png.flaticon.com/512/1067/1067374.png"
        alt="Logo Terapy"
        width="28" height="28"
        class="me-2">

        <span class="brand-title">Terapy</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu" aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navMenu">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'paginaInicio' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'Servicios' %}">Servicios</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'noticias_list' %}">Noticias</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'contacto' %}">Contacto</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="{% url 'privacidad' %}">Privacidad</a></li>
        {% if request.user.is_authenticated %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'logout_page' %}">Cerrar sesión</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link text-white" href="{% url 'login_page' %}">Iniciar sesión</a></li>
        {% endif %}
    </ul>
    </div>
    </nav>
</header>